<h1>All Posts</h1>

<%= form_tag posts_path, method: "get" do %>
    Search for post:
    <%= text_field_tag :query %>
    <%= submit_tag "Search" %>
<% end %>

<br>

<%= form_tag posts_path, method: "get" do %>
    Filter by category:
    <%= collection_select :post, :category_id, @categories, :id, :name, include_blank: true %>
    <%= submit_tag "Filter" %>
<% end %>

<ul>
<% @posts.each do |post| %>
    <li><h3><%= link_to post.title, post_path(post) %></h3></li>
<% end %>
</ul>